$primary: #00babb;
$secondary: #fed53f;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
