@use "base";

// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

@font-face {
  font-family: "Manrope";
  src: url("/Manrope-Regular.ttf");
}

body {
  background-color: #f4f4f5;
  color: rgb(82, 82, 82);
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: "Manrope";
  font-display: optional;
}

.grid {
  margin: 85px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
}

.grid-two {
  margin: 85px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin-top: 15px;
}

header {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: base.$secondary;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  h2 {
    color: black;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 10px 0px 10px 35px;
  }
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  // margin-top: 60px;
  color: #777;
}
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.card {
  padding: 20px;
  // display: block;
  // background: base.$primary;
  color: rgb(0, 0, 0);
  background-color: #fff;
  border-radius: 5px;

  &:hover {
    box-shadow: 0px 10px 10px rgba(2, 2, 2, 0.123);
  }
}

.list {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

span {
  color: base.$primary;
}

footer {
  color: white;
  background-color: base.$primary;

  a:hover {
    color: #ffbc27;
  }
}
